# Python
_pycache_/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.joblib

# Virtual environments
env/
venv/
.venv/

# Build artifacts
build/
dist/
*.egg-info/

# PyCharm
.idea/

# Logs and temp files
*.log
*.tmp
*.bak

# OS-specific files
.DS_Store
Thumbs.db

# Environment variable files
.env
.env.*

# Jupyter (optional)
.ipynb_checkpoints/